<h1>Задачи</h1><br>
<% Project.find_each do |project| %>
  <h2><%= project.title %></h2>
  <% project.todos.find_each do |todo| %>
    <li><%= todo.text %></li>
  <% end %>
<% end %>
<h2>НОВАЯ ЗАДАЧА</h2>
<%= form_with(model: @todo, url: todos_path, id:'todo_form') do |form| %>

	<p><%= form.text_field :text %></p>
	<p><%= select_tag 'project_id', options_from_collection_for_select(@project, 'id', 'title'), prompt: 'Выберите категорию' %></p>

<% end %>

<%= link_to "ОТМЕНА", id: "cancel_link" %>
<%= link_to "OK", id: "ok_link", controller: "todos", action: "create" %>
