<%= form_with(model: @todo, url: todos_path, id:'todo_form') do |form| %>

	<p><%= form.text_field :text %></p>
  <%= hidden_field_tag 'isCompleted', 'false' %>
	<p><%= select_tag 'project_id', options_from_collection_for_select(@project, 'id', 'title'), prompt: 'Выберите категорию' %></p>

  <%= link_to 'todos/create' do %>
    OK
  <% end %>
<% end %>
